
<!-- Main content -->
<div class="main-content">




   <!-- Header -->
   <div class="container-fluid d-flex align-items-center">
    <div class="row" style=" min-height: 30px;  ">
        
    </div>
</div>
    
   <!-- Mask -->

   <!-- Header container -->
   
   <br>
</div>

  <!-- Page content -->
  <div class="q-page-container bg-grey-2" style="padding-top: 50px;">
    <!-- <div class="q-pa-md">
        <div class="q-parallax" style="height: 200px;">
            <div class="q-parallax__media absolute-full"><img
                    src="/static/afor/bk03.jpg"
                    style="display: initial; transform: translate3d(-50%, 482px, 0px);"></div>
            <div class="q-parallax__content absolute-full column flex-center">
                <h4 class="text-white">AmazonForest: In-silico pathogenic metaprediction of pathogenic
                    variants</h4>
            </div>
        </div><br><br>
        <div class="bg-teal-2 text-black shadow-1 rounded-borders q-carousel q-panel-parent q-carousel--with-padding q-carousel--arrows-horizontal q-carousel--navigation-bottom"
            style="height: 400px;">
            <div class="q-carousel__slides-container">
                <div role="tabpanel" class="q-panel scroll">
                    <div class="q-carousel__slide column no-wrap flex-center"><i aria-hidden="true"
                            role="presentation" class="material-icons q-icon notranslate"
                            style="font-size: 56px;">style</i>
                        <div class="q-mt-md text-left">
                            <p>AmazonForest
                                aims to improve user experience towards pathogenicity prediction. A
                                Random forest model performs meta-prediction of pathogenicity of VUS,
                                CI, and new genetic variants. AmazonForest can be accessed at. The
                                platform is divided into two components:</p>
                            <li>The user interface
                                component. AmazonForest was developed as a web tool with an interface
                                that allows performing pathogenicity prediction of SNPs or INDELs with
                                in silico analysis employing the aforementioned best meta-predictor
                                model. The simple web interface enables the user to predict
                                pathogenicity in two ways: first, by providing genomic or dbSNP
                                information (chromosome, chromosome position, or rsID), and second, the
                                user can combine predictor’s results to query pathogenicity status.</li>
                            <li>
                                Model administrator component. We implemented a model administrator
                                component to further assess the evolution and performance of the model.
                                This model component enables reproducibility of up-to-date data of
                                ClinVar.</li>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="q-carousel__control q-carousel__navigation no-wrap absolute flex q-carousel__navigation--buttons q-carousel__navigation--bottom text-white">
                <div class="q-carousel__navigation-inner flex flex-center no-wrap"><button tabindex="0"
                        type="button" role="button"
                        class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--round text-yellow q-btn--actionable q-focusable q-hoverable q-btn--wrap q-btn--dense"
                        style="font-size: 20px;"><span class="q-focus-helper"></span><span
                            class="q-btn__wrapper col row q-anchor--skip"><span
                                class="q-btn__content text-center col items-center q-anchor--skip justify-center row"><i
                                    aria-hidden="true" role="img"
                                    class="material-icons q-icon notranslate">home</i></span></span></button>
                </div>
            </div>
        </div>
    </div> -->
</div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 mb-12 mb-xl-12">
          <div class="card bg-secondaryII shadow">
              <div class="card-header  border-0" style="background-image: url(/static/afor/bk02.png);background-size: 100%;background-position: center top;background-repeat: no-repeat;">
                  <div class="row align-items-center">
                      <div class="col-12">
                        <div class="container-fluid d-flex align-items-center">
                          <div class="row">
                              <div class="col-lg-12 col-md-10" style="margin-top: 40px;min-height: 140px;">
                                  <h1 class="display-12 text-white">AmazonForest</h1>
                                  <!-- <p class="text-white mt-0 mb-5">..</p> -->
                              </div>
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                      <div class="pl-lg-12">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="col-xl-12 order-xl-12 mb-12 mb-xl-12">
                                      <div>
                                          <div class="row justify-content-center">
                                              <div>
                                                  <div class="card-profile-image-seeds">
                                                    <div class="text-left">
                                                      <p>AmazonForest
                                                          aims to improve user experience towards pathogenicity prediction. A
                                                          Random forest model performs meta-prediction of pathogenicity of VUS,
                                                          CI, and new genetic variants. AmazonForest can be accessed at. The
                                                          platform is divided into two components:</p>
                                                      <li>The user interface
                                                          component. AmazonForest was developed as a web tool with an interface
                                                          that allows performing pathogenicity prediction of SNPs or INDELs with
                                                          in silico analysis employing the aforementioned best meta-predictor
                                                          model. The simple web interface enables the user to predict
                                                          pathogenicity in two ways: first, by providing genomic or dbSNP
                                                          information (chromosome, chromosome position, or rsID), and second, the
                                                          user can combine predictor’s results to query pathogenicity status.</li>
                                                      <li>
                                                          Model administrator component. We implemented a model administrator
                                                          component to further assess the evolution and performance of the model.
                                                          This model component enables reproducibility of up-to-date data of
                                                          ClinVar.</li>
                                                  </div>
                                                  </div>
                                              </div>
                                          </div>

                                          <!-- <div class="card-body pt-0 pt-md-0" style="margin-top: 180px">

                                          </div> -->
                                      </div>
                                  </div>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-lg-12">
                                  
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="row align-items-center">
                              <div class="col-8">

                              </div>
                              <div class="col-4 text-right">
                                  
                              </div>
                          </div>
                      </div>
              </div>

          </div>
      </div>
  </div>
  </div>


    {% include 'amazonforest/includes/footer.html' %}

  </div>
</div>
