<div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="amazonforest"></a>
      </div>
    </nav>
    <!-- Header -->
    <div class="header bg-gradient-primary  pb-7 pt-5 pt-md-7">
      <div class="container-fluid mt--9">
        <div class="row mt-8">
          <div class="col">
              <div class="card bg-secondaryII shadow">
                  <div class="card-header bg-white border-0">
                      <h3 class="mb-0">Fill with results of preditors by snpSift</h3>
                  </div>
                  <div class="card-body">
                      <form method="POST">
                          <div >
                              <div class="row">
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="FATHMM">FATHMM</label>
                                              <select class="form-control" id="fathmm" name="fathmm">
                                                  <option value="-1" {% if fathmm =='-1' %}selected="selected" {% endif %}>Select
                                                  </option>
                                                  <option value="D" {% if fathmm =='D' %}selected="selected" {% endif %}>DAMAGING</option>
                                                  <option value="T" {% if fathmm =='T' %}selected="selected" {% endif %}>TOLERATED</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                                  <div class=" col-mt-1" style="width: 10px;" ></div>
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="LRT_pred">LRT</label>
                                                  <select class="form-control" id="lrt" name="lrt">
                                                    <option value="-1" {% if lrt =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="Z" {% if lrt =='Z' %}selected="selected" {% endif %}>Deleterious</option>
                                                    <option value="N" {% if lrt =='N' %}selected="selected" {% endif %}>Neutral</option>
                                                    <option value="U" {% if lrt =='U' %}selected="selected" {% endif %}>Unknown</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>    
                                  <div class=" col-mt-1" style="width: 10px;" ></div>                            
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="LRT_pred">MutaAss</label>
                                                  <select class="form-control" id="mutass" name="mutass">
                                                    <option value="-1" {% if mutass =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="H" {% if mutass =='H' %}selected="selected" {% endif %}>high</option>
                                                    <option value="M" {% if mutass =='M' %}selected="selected" {% endif %}>medium</option>
                                                    <option value="L" {% if mutass =='L' %}selected="selected" {% endif %}>Low</option>
                                                    <option value="N" {% if mutass =='N' %}selected="selected" {% endif %}>neutral</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                                  <div class=" col-mt-1" style="width: 10px;" ></div>
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="LRT_pred">MutaTaster</label>
                                                  <select class="form-control" id="muttaster" name="muttaster">
                                                    <option value="-1" {% if muttaster =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="A" {% if muttaster =='A' %}selected="selected" {% endif %}>disease_causing_automatic</option>
                                                    <option value="D" {% if muttaster =='D' %}selected="selected" {% endif %}>disease_causing</option>
                                                    <option value="N" {% if muttaster =='N' %}selected="selected" {% endif %}>polymorphism</option>
                                                    <option value="P" {% if muttaster =='P' %}selected="selected" {% endif %}>polymorphism_automatic</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="PROVEAN">PROVEAN</label>
                                                  <select class="form-control" id="provean" name="provean">
                                                    <option value="-1" {% if provean =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="D" {% if provean =='D' %}selected="selected" {% endif %}>DAMAGING</option>
                                                    <option value="N" {% if provean =='N' %}selected="selected" {% endif %}>Neutral</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                                  <div class=" col-mt-1" style="width: 10px;" ></div>
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="Pph2_HDIV">Pph2 HDIV</label>
                                                  <select class="form-control" id="pph2_hdiv" name="pph2_hdiv">
                                                    <option value="-1" {% if pph2_hdiv =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="B" {% if pph2_hdiv =='B' %}selected="selected" {% endif %}>Benign</option>
                                                    <option value="D" {% if pph2_hdiv =='D' %}selected="selected" {% endif %}>probably damaging</option>
                                                    <option value="P" {% if pph2_hdiv =='P' %}selected="selected" {% endif %}>possibly damaging</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                                  <div class=" col-mt-1" style="width: 10px;" ></div>
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="Pph2_HVAR">Pph2 HVAR</label>
                                                  <select class="form-control" id="pph2_hvar" name="pph2_hvar">
                                                    <option value="-1" {% if pph2_hvar =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="B" {% if pph2_hvar =='B' %}selected="selected" {% endif %}>Benign</option>
                                                    <option value="D" {% if pph2_hvar =='D' %}selected="selected" {% endif %}>probably damaging</option>
                                                    <option value="P" {% if pph2_hvar =='P' %}selected="selected" {% endif %}>possibly damaging</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                                  <div class=" col-mt-1" style="width: 10px;" ></div>
                                  <div class=" col-mt-2">
                                      <div class="form-group">
                                          <div class="form-group">
                                              <label class="form-control-label"
                                                  for="SIFT">SIFT</label>
                                                  <select class="form-control" id="sift" name="sift">
                                                    <option value="-1" {% if sift =='-1' %}selected="selected" {% endif %}>Select
                                                    </option>
                                                    <option value="D" {% if sift =='D' %}selected="selected" {% endif %}>DAMAGING</option>
                                                    <option value="T" {% if sift =='T' %}selected="selected" {% endif %}>TOLERATED</option>
                                                </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                <div class=" col-mt-2">
                                    <div style="display: flex;margin-top: 0px;">
                                      <div style="text-align:center;justify-content: center;align-items:flex-end;flex-direction: column;">
                                          <input class="btn  btn-primary" type=submit value=Predict>
                                      </div>
                                    </div>
                                  </div>
                                  <div class=" col-mt-1" style="width: 10px;" >&nbsp;</div>
                                  <div class=" col-mt-2">
                                      <div style="display: flex;margin-top: 0px;">
                                          <div style="text-align:center;justify-content: center;align-items:flex-end;flex-direction: column;">
                                              <a href="newpredict" class="btn  btn-primary"> Clear</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                 
              </div>
          </div>
        </div>
        <br>
        {% if predict %}                 
        <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-6 mb-xl-6">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Result</h5>
    
                      <span id="stats_users" class="h2 font-weight-bold mb-0">{{dspredict}}</span>
                    
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="fas fa-bars"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-blue mr-2 font-weight-bold "><i class="fas"></i> With probaly {{dsproba}} of model have 0.861 Acuracy. </span>
                    <span class="text-nowrap">.</span>
                  </p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>
  </div>
  
  <div class="container-fluid">
  
  {% include 'amazonforest/includes/footer.html' %}

</div>
