<div class="card shadow" style="margin-top: 10px;">
    <div class="card-body">    
        <div class="container">
            <div class="text-center">
                <h4><strong>Acknowledgments</strong></h4>
            </div>
            <div class="row flex-md-row" style="margin-top: 40px;" >
                <div class="col-md-3 mb-3"></div>
                <div class="col">
                    <a href="https://www.ufpa.br"> 
                        <img src="{{ url_for('static', filename='images/logo/ufpa.png') }}" style="height: 60px;width:50px">
                    </a> 
                </div>
                <div class="col">
                    <a href="https://www.gov.br/capes/pt-br">
                        <img src="{{ url_for('static', filename='images/logo/capes.png') }}" style="height: 60px;width:60px">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.gov.br/cnpq/pt-br"> 
                        <img src="{{ url_for('static', filename='images/logo/cnpq.png') }}" style="height: 100;width:100px;">
                </a>
                </div>
                <div class="col">
                    <a href=""> 
                        <img src="{{ url_for('static', filename='images/logo/pgph.png') }}" style="height: 60px;width:100px">
                </a> 
                </div>
                <div class="col">
                    <a href="https://www.lghm.com.br"> 
                        <img src="{{ url_for('static', filename='images/logo/lghm.png') }}" style="height: 60px;width:120px">
                </a> 
                </div>
                <div class="col">
                    <a href="https://ppgbm.propesp.ufpa.br/index.php/br/"> 
                        <img src="{{ url_for('static', filename='images/logo/ppgbm.png') }}" style="height: 60px;width:120px">
                </a> 
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>

            <div class="text-center">
                <h4><strong>Team</strong></h4>
            </div>
            <div class="row align-items-center" style="margin-top: 40px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end">
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4784582T1">
                     <img style="height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/andrea.png') }}"  alt="">
                    </a>
                </div>
                <div class="col-md-6 mb-6 text-left">
                    <strong>Ândrea Ribeiro-dos-Santos</strong> Professora Titular da Universidade Federal do Pará, atua nos Programas de Pós-Graduação em: Genética e Biologia Molecular (PPGBM), Oncologia e Ciências Médicas (PPGOCM) e Diabetes (PPGDIABETES), todos da UFPA. Atualmente compõe a diretoria da Sociedade Brasileira de Genética (SBG). 
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end"><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4293764D0">
                     <img style="display: inline-block;height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/gil.png') }}"  alt=""></a></div>
                <div class="col-md-6 mb-6">
                    <p class="text-justify">
                    <strong>Gilderlanio Santana de Araújo</strong> Doutor em Bioinformática (UFMG) com ênfase em Mineração de Dados Genéticos, Genética de Populações e GWAS. Mestre em Ciências da Computação pelo Centro de Informática (Cin-UFPE) com ênfase em Bioinformática, métodos estatísticos e de aprendizado de máquina aplicados a GWAS para doenças neuropsiquiátricas. 
                    </p>
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end"><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4427374T2">
                     <img style="display: inline-block;height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/helber.png') }}"  alt=""></a></div>
                <div class="col-md-6 mb-6 text-left">
                    <strong>Hélber Palheta</strong> Analista em Tecnologia da Informação (UFPA), Mestre em Genética e Biologia Molecular- Linha Pesquisa Bioinformática (UFPA),
                     Discente de doutorado em Genética e Biologia Molecular, Bioinformática (UFPA). 
                </div>
            </div>

            <!-- <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end"><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4436036P9">
                     <img style="display: inline-block;height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/wander.png') }}"  alt=""></a></div>
                <div class="col-md-6 mb-6 text-left">
                    <strong>Wanderson Gonçalves</strong> É Graduado em Ciências Biológicas pelo Instituto Federal de Educação, Ciência e Tecnologia do Pará, IFPA; em Ciências Naturais com Habilitação em Física pela Universidade do Estado do Pará, UEPA. Mestre em Ciências Ambientais pela Universidade do Estado do Pará, UEPA. Doutorando em Oncologia e Ciências Médicas pela Universidade Federal do Pará, UFPA. 
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end"><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K8452149P9">
                     <img style="display: inline-block;height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/arthur.png') }}"  alt=""></a></div>
                <div class="col-md-6 mb-6 text-left">
                    <strong>Arthur Ribeiro dos Santos</strong> Graduado em Engenharia Biomédica pela Universidade Federal do Pará (UFPA), 2019. Título do trabalho de conclusão de curso: Differential Expression of miRNAs inTuberculosis. 2 artigos publicados em revistas internacionais de impacto.
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end"><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K8620339J9">
                     <img style="display: inline-block;height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/leo2.png') }}"  alt=""></a></div>
                <div class="col-md-6 mb-6 text-left">
                    <strong>Leonardo Miranda</strong>Mestando em Genética e Biologia Molecular com ênfase em Bioinformática. Bacharel em Engenharia Biomédica pela Universidade Federal do Pará (UFPA). Durante a graduação atuou como pesquisador de iniciação científica no Laboratório de Processamento de Sinais (LAPS), na área de avaliação de qualidade visual, e no Laboratório de Genética Humana de Médica (LGHM). 
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-md-2 mb-2"></div>
                <div class="col-md-2 mb-2 text-end"><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K2776468H1">
                     <img style="display: inline-block;height: 80px;width:80px" src= "{{ url_for('static', filename='images/avatar/marlon.png') }}"  alt=""></a></div>
                <div class="col-md-6 mb-6 text-left">
                    <strong>Marlon Matsumoto</strong> Bacharel em Biotecnologia pela Universidade Federal do Pampa (UNIPAMPA). Possui experiência com Bioinformática, onde realizou e vem realizando projetos de pesquisa sobre genética de populações, possui conhecimento em Linguagem R e Python. 
                </div>
            </div> -->
          </div>
          <div class="text-center" style="margin-top: 30px;">
            <h4><strong>LGHM Bioinformatics</strong></h4>
          </div>
          <div class="text-center">
            <p>
                AmazonForest was developed at the
                Laboratory of Human and Medical Genetics,
                <br> Institute of Biological Sciences, Graduate Program
                of Genetics and Molecular
                Biology,
                <br>Federal University of Pará, Belém , Brazil.
            </p>
          </div>
          <div class="text-center">
            <ul class="list-unstyled" style="padding-bottom:0px;padding-top:0px;">
                <li><i class="fa fa-phone fa-fw"></i> +55 (91)3201-7843</li>
                <li><i class="fa fa-envelope-o fa-fw"></i> <a
                        href="mailto:helber@ufpa.br">helber@ufpa.br</a>
                </li>
            </ul>
            <div class="row">
                <div class="col text-end">
                    
                </div>
                <div class="col text-center" >
                    <a href="https://www.lghm.com.br"><i class="fab fa-firefox fa-fw fa-3x black" style="color:rgb(60, 58, 70);"></i></a>
                    <a href="https://twitter.com/LGHM_UFPA/"><i class="fab fa-twitter fa-fw fa-3x" style="color:rgb(60, 58, 70);"></i></a>
                    <a href="https://www.instagram.com/lghm_ufpa/"><i  class="fab fa-instagram fa-fw fa-3x" style="color:rgb(60, 58, 70);"></i></a>
                </div>
                <div class="col text-start">
                    
                </div>
            </div>
            <hr class="small" style="padding-bottom:0px;padding-top:0px;">
            <p class="text-muted">Copyright &copy; Laboratory of Human and Medical Genetics 2021<br>
            </p>

          </div>          
    </div>
    
</div>
